.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  padding: 0 5%;
  height: 12vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body[data-theme="light"] .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header.scrolled {
    background-color: #1A1A1A;
    border-color: transparent;
}

body[data-theme="light"] .header.scrolled {
    background-color: #FFFFFF;
}


.header-logo {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  color: inherit;
  text-decoration: none;
}

.header-logo:hover,
.header-logo:active,
.header-logo:visited {
  color: inherit;
  text-decoration: none;
}

.theme-switcher {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
  transition: color 0.3s ease;
}

.theme-switcher:hover {
    color: #D4AF37; /* Gold color for hover */
}
