.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; 
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: #E8E8E8;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 10vh;
}

body[data-theme='dark'] .header {
    background-color: #2A3441;
}

.header.hidden {
  transform: translateY(-100%);
}

.header-logo {
  font-family: var(--font-yellowtail);
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(1rem, 4.5vw, 2.5rem);
  color: inherit;
  text-decoration: none;
}

.header-logo:hover,
.header-logo:active,
.header-logo:visited {
  color: inherit;
  text-decoration: none;
}

.theme-switcher {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
}
