
.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-track-container {
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-track.no-transition {
    transition: none;
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-arrow.prev {
  left: 10px;
}

.carousel-arrow.next {
  right: 10px;
}
